memory_leak_report.txt
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
build
*.log
*.pov
*.inc
*.png
*.orig
SciTE.session
SciTEDirectory.properties
povviewer-qt.ini
test-run.sh
mytasks.py
povviewer-qt.pro.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
